*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  min-height: 100%;
  padding: 0;
  margin: 0; }

.site {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 75px;
  padding-bottom: 200px; }

.header {
  background: url("../picture/header-bg.jpg") no-repeat;
  background-size: cover;
  margin-top: -75px;
  padding: 20px 0;
  height: 75px; }
  .header > .row {
    height: 100%; }
    .header > .row > div {
      height: 100%; }
  .header .title a {
    margin-right: 10px; }
  .header .title .header-brand {
    color: #fff;
    font-size: 24px; }
    .header .title .header-brand:hover, .header .title .header-brand:active {
      color: #8c9ddd; }
  .header .title > span {
    color: #8c9ddd; }
  .header .user-options {
    color: #7f8999;
    line-height: 40px;
    text-align: right; }
    .header .user-options .user-name {
      display: inline-block;
      padding-left: 10px;
      padding-right: 10px; }

.content {
  background-color: #f7f7f7;
  min-height: 100%;
  padding: 20px 0; }
  .content:after {
    content: '\00a0';
    display: block;
    height: 0;
    margin-top: 1.5em;
    visibility: hidden; }

.navbar {
  background-color: #fff;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.15); }
  .navbar ul {
    padding: 0;
    position: relative; }
    .navbar ul ul {
      display: none;
      border-radius: 4px;
      padding: 0;
      position: absolute;
      top: 100%; }
      .navbar ul ul li {
        float: none;
        position: relative; }
        .navbar ul ul li a {
          background-color: #8c9ddd;
          color: #fff;
          padding: 15px 10px; }
          .navbar ul ul li a:hover {
            background-color: #7989c4; }
    .navbar ul li {
      border: none;
      margin: 0;
      padding: 0; }
      .navbar ul li a {
        display: block;
        padding: 15px 10px;
        color: #3f4754;
        white-space: nowrap; }
      .navbar ul li:hover {
        background: #8c9ddd; }
        .navbar ul li:hover > a {
          background: #8c9ddd;
          color: #fff; }
        .navbar ul li:hover > ul {
          display: block; }
      .navbar ul li.active {
        background: #8c9ddd; }
        .navbar ul li.active > a {
          background: #8c9ddd; }
          .navbar ul li.active > a:hover {
            background: #7989c4; }
  .navbar .navbar-form {
    margin-right: 0;
    margin-top: 13px; }

.footer {
  background: url("../picture/header-bg.jpg") no-repeat;
  background-size: cover;
  padding: 30px 0;
  margin-bottom: -200px;
  height: 200px;
  color: #7f8999; }
  .footer > .row {
    height: 100%; }
    .footer > .row > div {
      height: 100%; }
      .footer > .row > div > .row {
        height: 100%; }
        .footer > .row > div > .row .row {
          margin-left: 10px; }
          .footer > .row > div > .row .row:first-child {
            margin-bottom: 20px; }
        .footer > .row > div > .row a {
          display: block; }
      .footer > .row > div:last-child {
        position: relative; }
        .footer > .row > div:last-child > div {
          position: absolute;
          bottom: 0;
          right: 15px; }
  .footer a:link, .footer a:visited {
    color: #7f8999; }
  .footer a:hover, .footer a:active {
    color: #8c9ddd; }
  .footer .footer-bar {
    display: inline-block;
    vertical-align: bottom;
    margin-top: 15px;
    text-align: right;
    width: 100%; }
    .footer .footer-bar .short-line {
      background-color: #4fbf91;
      height: 2px;
      margin-left: auto;
      margin-bottom: 3px;
      width: 20px; }
    .footer .footer-bar p {
      margin: 0; }

.right-inner-addon {
  position: relative; }
  .right-inner-addon input {
    height: 24px;
    padding: 1px 0 1px 12px; }
  .right-inner-addon span.glyphicon {
    position: absolute;
    right: 0px;
    padding: 5px 12px; }

.nav-square {
  list-style: none;
  margin: 0;
  padding: 0; }
  .nav-square > li {
    display: block;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    position: relative; }
    .nav-square > li > a {
      padding-left: 6px; }
      .nav-square > li > a:link, .nav-square > li > a:visited, .nav-square > li > a:active {
        color: #7f8999;
        text-decoration: none; }
      .nav-square > li > a:hover {
        color: #8c9ddd;
        text-decoration: underline; }
        .nav-square > li > a:hover:before {
          text-decoration: none; }
      .nav-square > li > a:before {
        content: '\25a0';
        position: absolute;
        left: 0;
        top: -2px; }
    .nav-square > li.current > a:link, .nav-square > li.current > a:visited, .nav-square > li.current > a:active {
      color: #8c9ddd; }
    .nav-square > li.current > a:hover {
      color: #7989c4; }
    .nav-square > li + li {
      margin-left: 2px; }

.tab-panel {
  background-color: #fff;
  border-radius: 4px;
  display: none;
  margin-top: 10px;
  min-height: 400px;
  position: relative; }
  .tab-panel.current {
    display: block; }
  .tab-panel > .panel-header {
    background-color: transparent;
    padding: 10px 15px;
    width: 100%; }
    .tab-panel > .panel-header form {
      display: inline-block;
      margin-right: 10px; }
    .tab-panel > .panel-header .form-group {
      display: inline-block;
      margin: 0; }
      .tab-panel > .panel-header .form-group input {
        height: 34px; }
    .tab-panel > .panel-header .right-inner-addon span.glyphicon {
      padding: 8px 12px; }
    .tab-panel > .panel-header input[type="text"] {
      width: 100px;
      height: 34px;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857143;
      color: #555;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
      -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
      transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }
  .tab-panel > table tr {
    border-top: none;
    border-bottom: 2px solid #f7f7f7; }
  .tab-panel > table th,
  .tab-panel > table td {
    text-align: center; }
  .tab-panel > table > thead {
    background-color: #f7f7f7; }
    .tab-panel > table > thead th {
      color: #7f8999; }
  .tab-panel > table > thead > tr > th, .tab-panel > table > thead > tr > td {
    border-bottom: none; }
  .tab-panel > table .form-control {
    height: auto; }
  .tab-panel .panel-footer {
    background-color: transparent;
    border-top: 2px solid #f7f7f7;
    bottom: 0;
    position: absolute;
    width: 100%; }
  .tab-panel .panel-table-pagination {
    text-align: center; }
    .tab-panel .panel-table-pagination ul {
      margin: 0; }

.btn, .btn-select {
  color: #fff; }

.btn-select {
  display: block;
  height: 34px;
  padding: 6px 20px;
  font-size: 14px;
  line-height: 1.42857143;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }

.btn-select-green {
  background-color: #56be91;
  color: #fff; }

.btn-select-white {
  background-color: #fff;
  color: #919caf; }

.btn-purple {
  background-color: #8d9ddb; }

.btn-green {
  background-color: #56be91; }

.btn-blue {
  background-color: #334860; }

.btn-gray {
  background-color: #95a5a5; }

.panel-links {
  padding: 10px;
  text-align: right; }

.panel-content {
  padding: 10px 60px; }
  .panel-content .panel-notice {
    border-radius: 4px;
    background-color: #f7f7f7;
    color: #7f8999;
    padding: 10px;
    margin-bottom: 30px; }
    .panel-content .panel-notice ul {
      padding-left: 17px; }

.row-images {
  margin: 0;
  padding-top: 25px;
  padding-bottom: 50px; }
  .row-images figure {
    display: inline-block;
    text-align: center;
    position: relative;
    top: 20px; }
    .row-images figure + figure {
      margin-left: 10px; }
  .row-images img {
    vertical-align: bottom; }
  .row-images .img-display {
    margin-right: 80px;
    width: 200px;
    height: 100px; }
  .row-images .img-small {
    width: 50px;
    height: 50px; }
  .row-images .img-middle {
    width: 80px;
    height: 80px; }
  .row-images .img-large {
    width: 100px;
    height: 100px; }
