*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  min-height: 100%;
  padding: 0;
  margin: 0; }

.site {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 75px;
  padding-bottom: 200px; }

.header {
  background: url("../images/header-bg.jpg") no-repeat;
  background-size: cover;
  margin-top: -75px;
  padding: 20px 0;
  height: 75px; }
  .header .row {
    height: 100%; }
    .header .row div {
      height: 100%; }
  .header .title a {
    margin-right: 10px; }
  .header .title .header-brand {
    color: #fff;
    font-size: 24px; }
    .header .title .header-brand:hover, .header .title .header-brand:active {
      color: #8c9ddd; }
  .header .title span {
    color: #8c9ddd; }
  .header .user-options {
    color: #7f8999;
    line-height: 40px;
    text-align: right; }
    .header .user-options .user-name {
      display: inline-block;
      padding-left: 10px;
      padding-right: 10px;
      position: relative; }
      .header .user-options .user-name > a {
        display: block; }
        .header .user-options .user-name > a:link, .header .user-options .user-name > a:visited {
          color: #7f8999;
          text-decoration: none; }
        .header .user-options .user-name > a:hover, .header .user-options .user-name > a:active {
          color: #3f4754;
          text-decoration: none; }
      .header .user-options .user-name .user-menu {
        background-color: #fff;
        box-shadow: 0 0 9px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        display: none;
        position: absolute;
        list-style: none;
        margin: 0;
        padding: 10px 0 30px;
        top: 100%;
        right: 0;
        width: 155px;
        text-align: left;
        z-index: 1; }
        .header .user-options .user-name .user-menu li {
          margin: 0; }
          .header .user-options .user-name .user-menu li a {
            color: #8c9ddd;
            display: block;
            padding: 0 50px 0 30px; }
            .header .user-options .user-name .user-menu li a:link, .header .user-options .user-name .user-menu li a:hover, .header .user-options .user-name .user-menu li a:visited, .header .user-options .user-name .user-menu li a:active {
              text-decoration: none; }
            .header .user-options .user-name .user-menu li a:hover {
              background-color: #8c9ddd;
              color: #fff; }

.content {
  background-color: #f7f7f7;
  min-height: 100%;
  padding: 20px 0; }
  .content:after {
    content: '\00a0';
    display: block;
    height: 0;
    margin-top: 1.5em;
    visibility: hidden; }

.navbar {
  background-color: #fff;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.15); }
  .navbar ul {
    padding: 0;
    position: relative; }
    .navbar ul ul {
      display: none;
      border-radius: 4px;
      padding: 0;
      position: absolute;
      top: 100%; }
      .navbar ul ul li {
        float: none;
        position: relative; }
        .navbar ul ul li a {
          background-color: #8c9ddd;
          color: #fff;
          padding: 15px 10px; }
          .navbar ul ul li a:hover {
            background-color: #7989c4; }
    .navbar ul li {
      border: none;
      margin: 0;
      padding: 0; }
      .navbar ul li a {
        display: block;
        padding: 15px 10px;
        color: #3f4754;
        white-space: nowrap; }
      .navbar ul li:hover {
        background: #8c9ddd; }
        .navbar ul li:hover > a {
          background: #8c9ddd;
          color: #fff; }
        .navbar ul li:hover > ul {
          display: block; }
      .navbar ul li.active {
        background: #8c9ddd; }
        .navbar ul li.active > a {
          background: #8c9ddd; }
          .navbar ul li.active > a:hover {
            background: #7989c4; }
  .navbar .navbar-form {
    margin-right: 0;
    margin-top: 13px; }

.footer {
  background: url("../images/header-bg.jpg") no-repeat;
  background-size: cover;
  padding: 30px 0;
  margin-bottom: -200px;
  height: 200px;
  color: #7f8999; }
  .footer .col-md-3 .row:first-child {
    margin-bottom: 20px; }
  .footer .col-md-6:last-child {
    padding-top: 46px;
    text-align: right; }
    .footer .col-md-6:last-child > .row + .row {
      margin-top: 20px; }
  .footer a:link, .footer a:visited {
    color: #7f8999; }
  .footer a:hover, .footer a:active {
    color: #8c9ddd; }
  .footer .short-line {
    background-color: #4fbf91;
    margin-left: auto;
    margin-bottom: 5px;
    width: 20px;
    height: 2px; }

.right-inner-addon {
  position: relative; }
  .right-inner-addon input {
    height: 24px;
    padding: 1px 0 1px 12px; }
  .right-inner-addon span.glyphicon {
    position: absolute;
    right: 0px;
    padding: 5px 12px; }

.nav-square {
  list-style: none;
  margin: 0;
  padding: 0; }
  .nav-square > li {
    display: block;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    position: relative; }
    .nav-square > li > a {
      padding-left: 6px; }
      .nav-square > li > a:link, .nav-square > li > a:visited, .nav-square > li > a:active {
        color: #7f8999;
        text-decoration: none; }
      .nav-square > li > a:hover {
        color: #8c9ddd;
        text-decoration: underline; }
        .nav-square > li > a:hover:before {
          text-decoration: none; }
      .nav-square > li > a:before {
        content: '\25a0';
        position: absolute;
        left: 0;
        top: -2px; }
    .nav-square > li.current > a:link, .nav-square > li.current > a:visited, .nav-square > li.current > a:active {
      color: #8c9ddd; }
    .nav-square > li.current > a:hover {
      color: #7989c4; }
    .nav-square > li + li {
      margin-left: 2px; }

.tab-panel {
  background-color: #fff;
  border-radius: 4px;
  display: none;
  margin-top: 10px;
  min-height: 400px;
  position: relative; }
  .tab-panel.current {
    display: block; }
  .tab-panel > .panel-header {
    background-color: transparent;
    padding: 10px 15px;
    width: 100%; }
    .tab-panel > .panel-header .form-control:last-child {
      display: inline-block;
      width: 100px;
      vertical-align: top; }
    .tab-panel > .panel-header form {
      display: inline-block;
      margin-right: 10px; }
    .tab-panel > .panel-header .form-group {
      display: inline-block;
      margin: 0; }
      .tab-panel > .panel-header .form-group input {
        height: 34px; }
    .tab-panel > .panel-header .right-inner-addon span.glyphicon {
      padding: 8px 12px; }
    .tab-panel > .panel-header input[type="text"] {
      width: 100px;
      height: 34px;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857143;
      color: #555;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
      -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
      transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }
  .tab-panel > table tr {
    border-top: none;
    border-bottom: 2px solid #f7f7f7; }
  .tab-panel > table th,
  .tab-panel > table td {
    text-align: center; }
  .tab-panel > table > thead {
    background-color: #f7f7f7; }
    .tab-panel > table > thead th {
      color: #7f8999; }
  .tab-panel > table > thead > tr > th, .tab-panel > table > thead > tr > td {
    border-bottom: none; }
  .tab-panel > table .form-control {
    height: auto; }
  .tab-panel .panel-footer {
    background-color: transparent;
    border-top: 2px solid #f7f7f7;
    bottom: 0;
    position: absolute;
    width: 100%; }
  .tab-panel .panel-table-pagination {
    text-align: center; }
    .tab-panel .panel-table-pagination ul {
      margin: 0; }

.btn, .btn-select {
  color: #fff; }

.btn-select {
  display: block;
  height: 34px;
  padding: 6px 20px;
  font-size: 14px;
  line-height: 1.42857143;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }

.btn-select-green {
  background-color: #56be91;
  color: #fff; }

.btn-select-white {
  background-color: #fff;
  color: #919caf; }

.btn-purple {
  background-color: #8d9ddb; }

.btn-green {
  background-color: #56be91; }

.btn-blue {
  background-color: #334860; }

.btn-gray {
  background-color: #95a5a5; }

.panel-links {
  padding: 10px;
  text-align: right; }

.panel-content {
  padding: 10px 60px; }
  .panel-content .panel-notice {
    border-radius: 4px;
    background-color: #f7f7f7;
    color: #7f8999;
    padding: 10px;
    margin-bottom: 30px; }
    .panel-content .panel-notice ul {
      padding-left: 17px; }
  .panel-content .col-md-12 {
    margin-bottom: 10px;
    padding-left: 75px; }
  .panel-content .input-horizontal-helper-text {
    padding-left: 0;
    padding-top: 5px; }
  .panel-content form > .form-group:last-child {
    margin-top: 35px; }
  .panel-content .form-inline .form-group {
    margin-left: 0;
    margin-right: 0; }
    .panel-content .form-inline .form-group input {
      width: 50px;
      padding-left: 5px;
      padding-right: 5px; }

/* Need to be fixed */
.panel-content-display {
  padding: 10px 50px; }
  .panel-content-display img {
    width: 100%;
    height: 105px;
    margin-bottom: 10px; }
  .panel-content-display select {
    margin-bottom: 10px; }
  .panel-content-display .row {
    padding-top: 4px;
    padding-bottom: 4px; }

.row-images {
  margin: 0;
  padding-top: 25px;
  padding-bottom: 50px; }
  .row-images figure {
    display: inline-block;
    text-align: center;
    position: relative;
    top: 20px; }
    .row-images figure + figure {
      margin-left: 10px; }
  .row-images img {
    vertical-align: bottom; }
  .row-images .img-display {
    margin-right: 80px;
    width: 200px;
    height: 100px; }
  .row-images .img-small {
    width: 50px;
    height: 50px; }
  .row-images .img-middle {
    width: 80px;
    height: 80px; }
  .row-images .img-large {
    width: 100px;
    height: 100px; }

.video-clip-list {
  background-color: #7f8999;
  width: 853px;
  float: left;
  margin-left: 15px;
  position: relative;
  padding: 5px 3px; }
  .video-clip-list > a {
    display: inline-block;
    font-size: 30px;
    margin-top: 22px; }
    .video-clip-list > a:last-child {
      position: absolute;
      right: 0; }

.video-clip-pill {
  background: url("../images/header-bg.jpg") no-repeat;
  border-radius: 4px;
  width: 75px;
  height: 75px;
  display: inline-block;
  vertical-align: top;
  position: relative; }
  .video-clip-pill + .video-clip-pill {
    margin-left: 5px; }
  .video-clip-pill + .video-clip-add {
    margin-left: 5px; }
  .video-clip-pill > div {
    position: absolute;
    right: 0;
    bottom: 0; }
    .video-clip-pill > div > .clip-number {
      background-color: #4fbf91;
      border-radius: 5px 0 0 5px;
      color: #fff; }
    .video-clip-pill > div > .clip-time {
      background-color: #a7b3c4;
      border-radius: 5px 0 0 5px;
      color: #3f4754; }

.video-clip-add {
  background-color: #3f4754;
  border-radius: 4px;
  width: 75px;
  height: 75px;
  display: inline-block;
  vertical-align: top;
  text-align: center; }
  .video-clip-add a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 63px;
    font-size: 75px;
    color: #a7b3c4; }
    .video-clip-add a:link, .video-clip-add a:hover, .video-clip-add a:visited, .video-clip-add a:active {
      text-decoration: none; }

.video-clip-merge {
  background-color: cyan;
  border-radius: 4px;
  position: relative;
  margin-left: 15px;
  width: 853px;
  height: 200px; }
  .video-clip-merge .video-clip-list {
    background: transparent;
    margin-left: 0; }
  .video-clip-merge .video-clip-action-bar {
    position: relative;
    top: 70px; }
    .video-clip-merge .video-clip-action-bar > div:first-child {
      text-align: center; }
    .video-clip-merge .video-clip-action-bar > div:last-child {
      display: inline-block;
      width: 150px;
      position: absolute;
      right: 20px;
      bottom: 5px;
      text-align: right;
      color: #7f8999; }
      .video-clip-merge .video-clip-action-bar > div:last-child .progress {
        height: 5px;
        margin-bottom: 0; }

/*# sourceMappingURL=main.css.map */
