.img-container,
.img-preview {
  background-color: #f7f7f7;
  overflow: hidden;
  width: 100%;
  text-align: center;
}

.img-container {
  min-height: 160px;
  max-height: 200;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .img-container {
    min-height: 200;
  }
}

.img-container > img {
  max-width: 100%;
}

.docs-preview {
  margin-right: -15px;
  margin-bottom: 10px;
}

.img-preview {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.img-preview > img {
  max-width: 100%;
}

.preview-lg {
  width: 100px;
  height: 100px;
}

.preview-md {
  width: 80px;
  height: 80px;
}

.preview-sm {
  width: 50px;
  height: 50px;
}