script(src='js/jquery/1.11.2/jquery.min.js')
script(src='js/URI.js')
script(src='js/sly.min.js')
script(src='js/video.min.js')
script(src='js/jquery-ui.js')
script(src='js/rangeslider.js')
script(src='js/app.js')