extends includes/master-page

append content
  .panel.is-current
    .panel-header
    .panel-content
      form
        .row
          .cols.large-6.offset-by-2
            .row
              .cols.large-4.l-text-right
                label(for='user-email') 输入登录邮箱:
              .cols.large-8
                input(type='email').l-fw#user-email
            .row.buttons-bar
              .cols.large-8.offset-by-4
                button.btn-success(type='submit') 发送邮件