extends includes/master-page

append content
  +navbar(0)

  .alert-success.clearfix
    | 成功信息
    .btn-icon.l-right
      i.fa.fa-times-circle-o

  .alert-info.clearfix
    | 系统信息
    .btn-icon.l-right
      i.fa.fa-times-circle-o

  .alert-warning.clearfix
    | 警告信息
    .btn-icon.l-right
      i.fa.fa-times-circle-o

  .alert-danger.clearfix
    | 错误信息
    .btn-icon.l-right
      i.fa.fa-times-circle-o