extends includes/master-page

append content
  .panel.is-current
    .panel-header.clearfix
      .l-right
        button.btn-link 全部消息
        button.btn-link 系统消息
        button.btn-link 账户消息
        button.btn-link 返回首页
      button.btn-info 全选
      button.btn-success 标记为已读
      button.btn-danger 删除
    .panel-content
      .message-group
        .row
          .cols.large-1.l-text-center
            input(type='checkbox')
          .cols.large-11
            | 2015-06-12
        .row
          .cols.large-1.l-text-center
            input(type='checkbox')
          .cols.large-2
            | 系统消息
          .cols.large-7
            | 细致直木纹的廊子干净得简直可以映出布袜底的云斋织花纹，廊子响起轻微脚步声时，藤尾背部那头浓厚黑发滑溜地晃了一下。女人的眼睛瞄到刚落在廊子的蓝染布袜。女人不用转头看也知道布袜主人是谁。
          .cols.large-2.l-text-center
            | 10:22
        .row.is-unreaded
          .cols.large-1.l-text-center
            input(type='checkbox')
          .cols.large-2
            | 系统消息
          .cols.large-7
            | 细致直木纹的廊子干净得简直可以映出布袜底的云斋织花纹，廊子响起轻微脚步声时，藤尾背部那头浓厚黑发滑溜地晃了一下。女人的眼睛瞄到刚落在廊子的蓝染布袜。女人不用转头看也知道布袜主人是谁。
          .cols.large-2.l-text-center
            | 10:22
      .message-group
        .row
          .cols.large-1.l-text-center
            input(type='checkbox')
          .cols.large-11
            | 2015-06-12
        .row.is-unreaded
          .cols.large-1.l-text-center
            input(type='checkbox')
          .cols.large-2
            | 系统消息
          .cols.large-7
            | 细致直木纹的廊子干净得简直可以映出布袜底的云斋织花纹，廊子响起轻微脚步声时，藤尾背部那头浓厚黑发滑溜地晃了一下。女人的眼睛瞄到刚落在廊子的蓝染布袜。女人不用转头看也知道布袜主人是谁。
          .cols.large-2.l-text-center
            | 10:22
        .row
          .cols.large-1.l-text-center
            input(type='checkbox')
          .cols.large-2
            | 系统消息
          .cols.large-7
            | 细致直木纹的廊子干净得简直可以映出布袜底的云斋织花纹，廊子响起轻微脚步声时，藤尾背部那头浓厚黑发滑溜地晃了一下。女人的眼睛瞄到刚落在廊子的蓝染布袜。女人不用转头看也知道布袜主人是谁。
          .cols.large-2.l-text-center
            | 10:22
