extends includes/master-page

append content
  +navbar(1)

  nav.nav-secondary
    ul.clearfix
      li.is-current
        a(href='?panel=video-upload')
          i.fa.fa-fw.fa-square
          | 上传视频
      li
        a(href='?panel=video-list')
          i.fa.fa-fw.fa-square
          | 视频列表
      li
        a(href='?panel=video-transcoding-template')
          i.fa.fa-fw.fa-square
          | 转码模板
      li
        a(href='?panel=video-transcoding-solution')
          i.fa.fa-fw.fa-square
          | 转码方案
      li
        a(href='?panel=clip-management')
          i.fa.fa-fw.fa-square
          | 素材管理

  include includes/video/video-upload
  include includes/video/video-list
  include includes/video/video-transcoding-template
  include includes/video/add-transcoding-template
  include includes/video/video-transcoding-solution
  include includes/video/add-transcoding-solution
  include includes/video/clip-management