<table>
  <thead>
  <tr>
    <th>列表</th>
    <th colspan="2">操作</th>
  </tr>
  </thead>

  <tbody>
  <% @video_lists.each do |video_list| %>
      <tr>
        <td><%= link_to video_list.name, video_list %></td>
        <td><%= link_to 'Edit', edit_video_list_path(video_list) %></td>
        <td><%= link_to 'Destroy', video_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

