.tab-panel#manage-log
  .panel-header.clearfix
    form.clearfix
      .right-inner-addon
        input(type='search' placeholder='用户名')
        i.fa.fa-search
      div
        input(type='text' placeholder='2015/05/01')
        | 至
        input(type='text' placeholder='2015/05/01')
  table
    thead
      tr
        th 登陆时间
        th 登录名
        th 登录IP
        th 详情
    tbody
      tr
        td
          | 2015/04/03 12:32
        td
          | 管理者
        td
          | 211.211.211.211
        td