extends includes/master-page

append content
  +navbar(3)

  +u-a-i-list([
    {
      current: 'current',
      href: '?panel=add-player',
      icon: 'square',
      text: '新增播放器'
    },
    {
      href: '?panel=manage-player',
      icon: 'square',
      text: '播放器管理'
    },
    {
      href: '?panel=logo-list',
      icon: 'square',
      text: 'LOGO'
    },
    {
      href: '?panel=upload-logo',
      icon: 'square',
      text: '上传LOGO'
    }
  ]).nav-panel.clearfix
  
  include includes/player/manage-player
  include includes/player/logo-list