include ../mixins

.panel#add-permission-management
  .panel-header.clearfix
    a.l-right(href='?panel=manage-permission') &lt;&lt; 返回权限管理
  .panel-content
    form
      .row.form-title
        .cols.large-2.l-text-right
          | 添加角色
      .row
        .cols.large-2.l-text-right
          label(for='role-name') 角色名称:
        .cols.large-6
          .row
            .cols.large-6
              input#role-name(type='text' placeholder='管理员')
            .cols.large-6.form-description
              | (20个字符)
      .row
        .cols.large-2.l-text-right
          label 系统管理:
        .cols.large-6
          label
            input(type='checkbox')
            | 权限
          label
            input(type='checkbox')
            | 权限
          label
            input(type='checkbox')
            | 权限
      .row
        .cols.large-2.l-text-right
          label 播放器管理:
        .cols.large-6
          label
            input(type='checkbox')
            | 权限
          label
            input(type='checkbox')
            | 权限
          label
            input(type='checkbox')
            | 权限
      .row
        .cols.large-2.l-text-right
          label 播放器管理:
        .cols.large-6
          label
            input(type='checkbox')
            | 权限
          label
            input(type='checkbox')
            | 权限
          label
            input(type='checkbox')
            | 权限
      .row
        .cols.large-2.l-text-right
          label(for='permission-description') 说明:
        .cols.large-6
          textarea(rows='5' placeholder='100个字符')
      .row.form-submit
        .cols.large-6.offset-by-2
          button.btn-success(type='submit') 保存
          a.link-button-cancel.btn-show-panel(data-panel='manage-permission' href='#') 取消