.panel#manage-category
  .panel-header
    input(type='text' placeholder='请输入视频类型')
    button.btn-success 添加
  .panel-content.panel-padded
    div 已有分类:
    .category-list
      button.btn-common.is-selected 电影
      button.btn-common 动画
    table.table(summary="电影类权限列表")
      thead
        tr
          th 
            | 用户
            a(href='?panel=add-user')
              i.fa.fa-plus-circle
          th 权限1
          th 权限2
          th 权限3
          th 权限4
      tbody
        tr
          td 123123123
          td
            input(type='checkbox')
          td
            input(type='checkbox')
          td
            input(type='checkbox')
          td
            input(type='checkbox')
        tr
          td 123123123
          td
            input(type='checkbox')
          td
            input(type='checkbox')
          td
            input(type='checkbox')
          td
            input(type='checkbox')
        tr
          td 123123123
          td
            input(type='checkbox')
          td
            input(type='checkbox')
          td
            input(type='checkbox')
          td
            input(type='checkbox')
        tr
          td 123123123
          td
            input(type='checkbox')
          td
            input(type='checkbox')
          td
            input(type='checkbox')
          td
            input(type='checkbox')
