.tab-panel#manage-api
  .panel-header.clearfix
    form.clearfix
      .right-inner-addon
        input(type='search' placeholder='模版名称/用户名')
        i.fa.fa-search
  table
    thead
      tr
        th 名称
        th 象征
        th 用户
        th 操作
    tbody
      tr
        td
          | token
        td
          | xiao2系统管理/播放器管理/管理
        td
          | 管理者
        td
          a(href='#') 启用
          a(href='#') 禁用