<%=  render 'user_videos/nav' %>
<div class="tab-panel current" id="video-transcoding-template">
<h1>Editing Transcoding</h1>

<%= render 'edit_form' %>

<%= link_to 'Show', @transcoding %> |
<%= link_to 'Back', transcodings_path %>
</div>