<%=  render 'user_videos/nav' %>
<div class="tab-panel current" id="video-transcoding-template">
  <div class="panel-header clearfix">
    <select class="pull-right btn-select btn-select-white">
      <option>转码模板</option>
      <option>转码模板</option>
      <option>转码模板</option>
    </select>
    <form class="pull-right" role="search">
            <div class="form-group right-inner-addon">
              <input class="form-control" placeholder="模版名称/用户名" type="search">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </div>
    </form>
    <select class="btn-select btn-select-green">
      <option>添加转码模板</option>
      <option>添加转码模板</option>
      <option>添加转码模板</option>
    </select>
  </div>
        <table class="table table-hover panel-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>模板名称</th>
        <th>模板类型</th>
        <th>创建用户</th>
        <th>创建时间</th>
        <th>最后修改时间</th>
        <th>操作</th>
        <th>备注</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1234567</td>
        <td>高清_1080P_5M</td>
        <td>
    <select class="form-control">
      <option>转码模板</option>
      <option>转码模板</option>
      <option>转码模板</option>
    </select>
        </td>
        <td>xiao2</td>
        <td>2015/04/26 17:30</td>
        <td>2015/04/26 17:31</td>
        <td>
    <a href="#">修改</a>
    <a href="#">删除</a>
        </td>
        <td>1 231456</td>
      </tr>
    </tbody>
  </table>
  <div class="panel-footer">
    <%=  paginate @transcodings %>
  </div>
      </div>