      <nav class="nav-tab">
	<ul class="nav-square clearfix">
	  <li class="current">
	    <a href="#manage-user">
	      <span class="square"></span>
	      用户管理
	    </a>
	  </li>
	  <li class="">
	    <a href="#manage-permission">
	      <span class="square"></span>
	      权限管理
	    </a>
	  </li>
	  <li class="">
	    <a href="#manage-api">
	      <span class="square"></span>
	      API管理
	    </a>
	  </li>
	  <li class="">
	    <a href="#manage-log">
	      <span class="square"></span>
	      操作日志
	    </a>
	  </li>
	</ul>
      </nav>
