<%=  render 'advertise/nav' %>

<div class="tab-panel current" id="advertisement-solution">
<h1>New Advertise Strategy</h1>

<%= render 'form' %>

<%= link_to 'Back', advertise_strategies_path %>
</div>
