<%=  render 'advertise/nav' %>

<div id="add-advertisement-solution" class="tab-panel" style="display: block;">
	<div class="panel-header">
		<%= link_to '&lt;&lt; 返回广告方案列表'.html_safe, advertise_strategies_path %> 
	</div>
	<%= render 'form' %>
</div>