.site
  position absolute
  top 0
  right 0
  bottom 0
  left 0
  padding-top 75px
  padding-bottom 225px

.content
  min-height 100%
  padding-top 30px
  padding-bottom 60px

.container
  position relative
  width 960px
  padding-right 15px
  padding-left 15px
  margin-right auto
  margin-left auto

.clearfix
  &:before,
  &:after
    display table
    content ' '
  &:after
    clear both

.l-fw
  width 100%

.l-left
  float left

.l-right
  float right

.l-text-right
  text-align right

.l-text-center
  text-align center
