.link-button
  display inline-block
  padding 0.3em 1.5em
  border-radius 4px

.link-button-success
  @extend .link-button

  &:link,
  &:visited
    color #fff
    background-color color-success

  &:hover,
  &:active
    color #fff
    background-color color-success-hover

.link-button-info
  @extend .link-button

  &:link,
  &:visited
    color #fff
    background-color color-info

  &:hover,
  &:active
    color #fff
    background-color color-info-hover

.link-button-delete
  @extend .link-button

  &:link,
  &:visited
    color #fff
    background-color color-delete

  &:hover,
  &:active
    color #fff
    background-color color-delete-hover

.link-button-cancel
  @extend .link-button

  &:link,
  &:visited
    color #fff
    background-color color-cancel

  &:hover,
  &:active
    color #fff
    background-color color-cancel-hover
