.table
  width 100%
  border-collapse collapse
  border-spacing 0
  text-align center

  > thead
    font-size 15px
    color color-text-light

    th
      height 2.5em
      border-bottom 1px solid color-border
      background-color color-background
      line-height 2.5em

  > tbody
    font-size 14px
    color color-text-dark

    > tr
      &:hover
        background-color color-background

    td
      padding 0.5em
      border-bottom 1px solid color-border

    .btn-link
      color color-primary

      &:hover
        color color-primary-hover
        text-decoration underline

      & + .btn-link
        margin-left 0.4em
