.table
  width 100%
  border-collapse collapse
  border-spacing 0
  text-align center
  white-space nowrap

  &:nth-child(n+2)
    margin-top 0.8em

  > thead
    font-size 15px
    color color-text-light

    th
      height 2.5em
      border-bottom 1px solid color-border
      background-color color-background
      line-height 2.5em
        
    a
      margin-left 0.3em

      &:link,
      &:visited
        color color-success

      &:hover,
      &:active,
      &:focus
        color color-success-hover

  > tbody
    font-size 14px
    color color-text-dark

    > tr
      &:hover
        background-color color-background

    td
      padding 0.5em
      border-bottom 1px solid color-border

  a
    &:link,
    &:visited
      color color-primary

    &:hover,
    &:active,
    &:focus
      color color-primary-hover
      text-decoration underline

    & + a
      margin-left 0.4em