<div id="video_params" class="hidden">
  <p id="player_id" player="<%= @video_group.player_id ? @video_group.player_id : Settings.default_player.id %>"></p>

  <p id="video_id" videoid="<%= @video_group.show_id %>"></p>

  <p id="source" source="<%= Base64.strict_encode64(ActiveSupport::JSON.encode(@src)) %>"></p>
</div>
<video id="wgcloud_video_1" class="video-js vjs-default-skin vjs-paused vjs-controls-enabled">
  <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that
    <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
  </p>
</video>
<div class="vjs-big-play-button" role="button" aria-live="polite" tabindex="0" aria-label="play video">
  <span aria-hidden="true"></span>
</div>
