<div class="panel is-current">
    <div class="panel-header clearfix">
        <div class="l-right">
            <button class="btn-link">全部消息</button>
            <button class="btn-link">系统消息</button>
            <button class="btn-link">账户消息</button>
            <a class="btn-link" href="/">返回首页</a>
        </div>
        <button class="btn-info">全选</button>
        <button class="btn-success">标记为已读</button>
        <button class="btn-danger">删除</button>
    </div>
    <div class="panel-content">
      <% @notifications_sort.each do |date, n| %>
        <div class="message-group">
            <div class="row">
                <div class="cols large-1 l-text-center">
                    <input type="checkbox">
                </div>
                <div class="cols large-11"><%= date  %></div>
            </div>
            <% n  && n.each do |row| %>
            <div class="row <%= 'is-unreaded' if not row.is_read %> ">
                <div class="cols large-1 l-text-center">
                    <input type="checkbox">
                </div>
                <div class="cols large-2">系统消息</div>
                <div class="cols large-7"><%= row.title %></div>
                <div class="cols large-2 l-text-center"><%= row.created_at && row.created_at.strftime('%H:%M') %></div>
            </div>
            <% end %>
        </div>
        <% end %>
    </div>
</div>
