color-text-dark = #3f4754
color-text-intermediate = #80899a
color-text-light = #a7b2c4

color-background = #f2f0f1
color-cutting-line = #e7e7e9
color-border = #efedee

color-primary = #8d9ddd
color-primary-hover = #7989c4
color-warning = #f7b520
color-warning-hover = #f49b01
color-danger = #e54c3c
color-danger-hover = #bf3a2b
color-success = #4fbf91
color-success-hover = #39a478
color-info = #344860
color-info-hover = #2d3e52
color-cancel = #bec3c7
color-cancel-hover = #89949a
color-delete = #89949a
color-delete-hover = #778087
