.btn
  padding 4px 20px
  margin-right 5px
  margin-left 5px
  border none
  border-radius 4px

.btn-purple
  @extend .btn
  background-color primary-color
  color #fff

.btn-green
  @extend .btn
  background-color success-color
  color #fff

.btn-blue
  @extend .btn
  background-color info-color
  color #fff

.btn-gray
  @extend .btn
  background-color delete-color-hover
  color #fff