@import 'partials/variables'

@import 'vendor/select2.css'

@import 'partials/normalize'
@import 'partials/base'
@import 'partials/layout'
@import 'partials/typography'
@import 'partials/grid'
@import 'partials/navbars'
@import 'partials/panels'
@import 'partials/tables'
@import 'partials/buttons'
@import 'partials/links'
@import 'partials/forms'
@import 'partials/figures'
@import 'partials/components'

/*
input[type='text'],
input[type='password'],
input[type='email'],
input[type='tel'],
input[type='date'],
input[type='search'],
select
  display block
  width 100%
  height 32px
  padding-left 12px
  background-color #fff
  border 1px solid font-color-3
  border-radius 4px
  font-size 14px
  line-height 32px
  color font-color-3

textarea
  display block
  width 100%
  padding-right 12px
  padding-left 12px
  background-color #fff
  border 1px solid font-color-3
  border-radius 4px
  font-size 14px
  line-height 32px
  color font-color-3


*/