.tab-panel
  position relative
  display none
  min-height 500px
  padding-bottom 50px
  margin-top 20px
  background-color #fff
  border-radius 4px
  box-shadow 0 0 9px rgba(0, 0, 0, 0.15)

  &.current
    display block

  .panel-header
    @extend .clearfix
    height 50px
    padding-top 10px
    padding-left 25px
  
    form
      float right
      margin-right 15px

      >div
        float left
        width 110px

        &+div
          margin-left 5px

      .right-inner-addon
        width 160px

    >a
      float right
      margin-right 15px

      &:link,
      &:visited
        color primary-color

      &:hover,
      &:active
        text-decoration underline

  >table
    width 100%
    text-align center

    thead
      color font-color-3

      tr
        height 30px
        line-height 30px

        th
          font-weight normal

    tbody
      tr
        height 40px
        line-height 40px
        border-bottom 1px solid cutting-line-color

        td
          padding-right 5px
          padding-left 5px

          a
            &:link,
            &:visited,
            &:hover,
            &:active
              color primary-color

            &:hover,
            &:active
              text-decoration underline
  >form
    margin-left 30px

    &.form-horizontal
      >.form-group
        @extend .clearfix
        width 520px

        &+.form-group
          margin-top 12px

        >label
          float left
          display block
          width 150px
          height 32px
          line-height 32px
          text-align right

          &.form-title
            color font-color-3

        >div
          @extend .clearfix
          float left
          width 370px
          padding-left 15px

          &.button-list
            padding-top 20px
            margin-left 145px

          >select
          >div
            float left
            width 50%

          >div
            height 32px
            line-height 32px
            padding-left 15px

            &.form-inline
              @extend .clearfix

              >*
                float left

                &+*
                  margin-left 5px

              >div
                width 55px

                >input
                  padding-left 8px

          >p
            margin 0
            padding 0
  
  .panel-footer
    position absolute
    bottom 0
    width 100%
    height 50px
    padding-top 9px
    padding-left 20px
    border-top 1px solid cutting-line-color

.video-list-item
  @extend .clearfix
  width 100%
  padding 15px 10px 25px
  border-bottom 1px solid cutting-line-color

  &:hover
    background-color content-bg-color

  >input[type='checkbox']
    display block
    margin-bottom 10px

  >.video-abstract
    float left
    width 200px
    padding-right 15px
    padding-left 30px

    >img
      width 100%
      height 105px
      border-radius 4px

    >select
      width 120px
      margin-top 10px
      margin-bottom 10px

  >.video-details
    float left
    width 750px
    padding-left 15px

    >.dl-table-display
      @extend .clearfix

      >dl
        float left

        &:first-child
          width 100%

        &:nth-child(2n)
          width 200px

        &:nth-child(2n+3)
          width 535px

  dl
    @extend .clearfix
    margin 0

    dt,
    dd
      float left
      padding 5px
      margin 0

    &.dl-tag-display
      width 100%
      margin-top 10px
      margin-bottom 20px
      border-top 1px solid border-line-color
      border-bottom 1px solid border-line-color

      dt,
      dd
        padding 0 0 0 5px
        height 40px
        line-height 40px

      span
        padding-right 10px
        padding-left 10px