      <ul class="nav-panel clearfix">
        <li class="current"><a href="<%=  advertise_strategies_path %>"><i class="fa fa-fw fa-square"></i>广告方案</a></li>
        <li><a href="<%= advertise_resources_path %>"><i class="fa fa-fw fa-square"></i>广告资源</a></li>
      </ul>
