<h1>UserVideos#new</h1>
<p>Find me in app/views/user_videos/new.html.erb</p>

<%= form_for :file_data, :html =>{:multipart => true}, :url => user_videos_path(:file_data, format: :html) do |f| %>
    <%= f.file_field :video %>
    <%= f.submit 'Upload' %>
<% end %>
