include ../mixins

.tab-panel.current#add-player
  .panel-header
    a(href='?panel=manage-player') &lt;&lt; 返回播放器管理
  .panel-content
    .panel-form
      .form-group
        .form-label.form-title
          label 添加播放器
      .form-group
        .form-label
          label(for='player-name') 播放器名称:
        .form-field
          div
            input#player-name(type='text')
      .form-group
        .form-label
          label 播放器颜色:
        .form-field
          div
            label
              input(type='checkbox' name='player-color')
              | 黑色
            label
              input(type='checkbox' name='player-color')
              | 经典
            label
              input(type='checkbox' name='player-color')
              | 其他颜色
      .form-group
        .form-label
          label(for='player-auto-play') 自动播放:
        .form-field
          div
            +select('否')#player-auto-play
      .form-group
        .form-label
          label(for='player-logo') LOGO:
        .form-field
          div
            +select('logo')#player-logo
      .form-group
        .form-label
          label(for='player-logo-position') LOGO的位置:
        .form-field
          div
            +select('右上角')#player-logo-position
      .form-group
        .form-label
          label(for='player-share') 分享功能:
        .form-field
          div
            +select('打开')#player-share
      .form-group
        .form-label
          label(for='player-full-screen') 全屏功能:
        .form-field
          div
            +select('是')#player-full-screen
      .form-group
        .form-label
          label(for='player-aspect') 长宽:
        .form-field
          div
            +select('1080X720')#player-aspect
      .form-group
        .form-field.form-submit
          button.btn-green(type='submit') 保存
          button.btn-gray.btn-show-panel(data-panel='manage-player') 取消
      img.preview-image(src='../assets/img/footer-bg.jpg')