include ../mixins

.tab-panel#logo-list
  .panel-header.clearfix
    button.btn-green 添加logo
  table
    thead
      tr
        th ID
        th LOGO
        th 创建人
        th 创建时间
        th 操作
    tbody
      tr
        td
          | 1234567890QWER
        td
          button.btn-green FIX
        td
          | xiao2
        td
          | 2015/05/12 15:23
        td
          a(href='#') 预览
          a(href='#') 修改
          a(href='#') 删除
