include ../mixins

.panel#logo-list
  .panel-header
    a.link-button-success(href='?panel=upload-logo') 添加logo
  .panel-content
    table.table(summary='logo列表')
      thead
        tr
          th ID
          th LOGO
          th 创建人
          th 创建时间
          th 操作
      tbody
        tr
          td
            | 1234567890QWER
          td
            img(src='assets/img/brand.png' alt='brand')
          td
            | xiao2
          td
            | 2015/05/12 15:23
          td
            button.btn-link 预览
            button.btn-link 修改
            button.btn-link 删除
