<%=  render 'players/nav' %>

<div class="tab-panel current" id="upload-logo">
  <div class="panel-links"><%= link_to '返回LOGO列表', logos_path %> </div>
	<div class="form-group">
		<label class="col-md-5 control-label text-center">上传LOGO</label>
	</div>
	<hr>
<%= render 'form' %>
</div>