<%=  render 'players/nav' %>
<div id="upload-logo" class="panel is-current">
	<div class="panel-header clearfix">
		<%= link_to '返回LOGO列表', logos_path, :class => 'l-right' %> 
	</div>


	<%= render 'form' %>
</div>