      <nav class="nav-secondary">
      	<ul class="clearfix">
      		<li class=""><a href="<%= new_player_path  %>"   data-no-turbolink='true' ><i class="fa fa-fw fa-square"></i>新增播放器</a></li>
      		<li><a href="<%= players_path  %>"><i class="fa fa-fw fa-square"></i>播放器管理</a></li>
      		<li class=""><a href="<%= logos_path  %>"><i class="fa fa-fw fa-square"></i>LOGO</a></li>
      		<li><a href="<%= new_logo_path  %>"   data-no-turbolink='true' ><i class="fa fa-fw fa-square"></i>上传LOGO</a></li>
      	</ul>
      </nav>
