script(src='assets/js/jquery.min.js')
script(src='assets/js/jquery-ui.min.js')
script(src='assets/js/URI.min.js')
script(src='assets/js/sly.min.js')
script(src='assets/js/video.min.js')
script(src='assets/js/rangeslider.min.js')
script(src='assets/js/app.min.js')