script(src='assets/js/jquery.min.js')
script(src='assets/js/jquery-ui.min.js')
script(src='assets/js/select2.min.js')
script(src='assets/js/URI.min.js')
script(src='assets/js/sly.min.js')
script(src='http://vjs.zencdn.net/4.12/video.js')
script(src='assets/js/app.min.js')