script(src='assets/js/lib/jquery/1.11.2/jquery.min.js')
script(src='assets/js/lib/URI.js')
script(src='assets/js/lib/sly.min.js')
script(src='assets/js/lib/video.min.js')
script(src='assets/js/lib/jquery-ui.js')
script(src='assets/js/lib/rangeslider.js')
script(src='assets/js/app.min.js')