header
  .container.clearfix
    .brand.l-left.clearfix
      img.l-left(src='assets/img/brand.png' alt='brand')
      div
        a.brand-link(href='index.html')
          span 未谷云视频
          br
          span WGcloud.com
    .admin-bar.l-right
      a(href='message.html')
        i.fa.fa-bell-o
      button.btn-icon-text
        #user-name
          i.fa.fa-user
          | MMS
        ul.dropdown#user-dropdown
          li
            a(href='user-config.html')
              i.fa.fa-fw.fa-pencil
              | 用户设置
          li
            a(href='#')
              i.fa.fa-fw.fa-exclamation-circle
              | 账单信息
      a(href='#')
        i.fa.fa-power-off
