include ../mixins

.tab-panel#add-advertisement-resource
  .panel-header
    a(href='?panel=advertisement-resource') &lt;&lt; 返回广告资源列表
  .panel-content
    .panel-form
      .form-group
        .form-label.form-title
          label 添加广告资源
      .form-group
        .form-field.form-offset
          button.btn-blue 上传文件
      .form-group
        .form-label
          label(for='ad-resource-name') 广告资源名称:
        .form-field
          div
            input#ad-resource-name(type='text')
      .form-group
        .form-label
          label(for='ad-release-company') 广告投放公司:
        .form-field
          div
            input#ad-release-company(type='text')
      .form-group
        .form-label
          label(for='ad-link') 广告链接:
        .form-field
          div
            input#ad-link(type='text')
      .form-group
        .form-label
          label(for='ad-position') 广告位置:
        .form-field
          div
            +select('全部')#ad-position
      .form-group
        .form-label
          label(for='ad-release-time') 广告投放时间:
        .form-field
          div
            +select('时间')#ad-release-time
      .form-group
        .form-label
          label(for='ad-type') 广告类型:
        .form-field
          div
            +select('类型')#ad-type
      .form-group
        .form-field.form-submit
          button.btn-green(type='submit') 保存
          button.btn-gray.btn-show-panel(data-panel='advertisement-resource') 取消
      img.preview-image(src='../assets/img/footer-bg.jpg')
