include ../mixins

.tab-panel#add-advertisement-solution
  .panel-header
    a(href='?panel=advertisement-solution') &lt;&lt; 返回广告方案列表
  .panel-content
    .panel-form
      .form-group
        .form-label.form-title
          label 添加广告方案
      .form-group
        .form-label
          label(for='ad-solution-name') 广告方案名称:
        .form-field
          div
            input#ad-solution-name(type='text')
          div.form-description
            | (5-20字符)
      .form-group
        .form-label
          label(for='ad-op-select') 片头广告选择:
        .form-field
          div
            +select('片头广告选择')#ad-op-select
      .form-group
        .form-label
          label(for='ad-ed-select') 片尾广告选择:
        .form-field
          div
            +select('片尾广告选择')#ad-ed-select
      .form-group
        .form-label
          label(for='ad-pause-select') 暂停广告选择:
        .form-field
          div
            +select('暂停广告选择')#ad-pause-select
      .form-group
        .form-label
          label(for='ad-suspension-select') 悬浮广告选择:
        .form-field
          div
            +select('悬浮广告选择')#ad-suspension-select
      .form-group
        .form-label
          label(for='ad-scroll-select') 滚动广告选择:
        .form-field
          div
            +select('滚动广告选择')#ad-scroll-select
      .form-group
        .form-field.form-submit
          button.btn-green(type='submit') 保存
          button.btn-gray.btn-show-panel(data-panel='advertisement-solution') 取消