include ../mixins

.panel#advertisement-resource
  .panel-header.clearfix
    form.l-right.clearfix
      .form-input-addon
        input(type='search' placeholder='资源名称/创建人')
        i.fa.fa-search
      +select().select2-single
    a.link-button-success.btn-show-panel(data-panel='add-advertisement-resource' href='#') 添加广告资源
  .panel-content
    table.table(summary='广告资源列表')
      thead
        tr
          th 编号
          th 广告资源
          th 资源类型
          th 广告类型
          th 投放时间
          th 投放公司
          th 操作
      tbody
        tr
          td 
            | 1234567
          td
            | 奥美国际广告方案
          td
            +select().select2-single
          td
            +select().select2-single
          td
            | 2015/05/12 15:23 至 2015/06/23 12:32
          td
            | 奥美国际广告创意
          td
            button.btn-link 修改
            button.btn-link 删除
