<p>您好 <%= @resource.email %>!</p>

<p>有人请求重置你的密码, 你可以点击以下链接进行下一步操作.</p>

<p><%= link_to '修改我的密码', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>如果不是你本人操作, 请忽略此邮件.</p>
<p>如果你没点击下面的链接，并提交新密码，你的密码不会被修改.</p>
