include ../mixins

.tab-panel#add-transcoding-solution
  .panel-header
    a(href='?panel=video-transcoding-solution') &lt;&lt; 返回方案列表
  .panel-content
    .panel-form
      .form-group
        .form-label.form-title
          label 添加转码方案
      .form-group
        .form-label
          label(for='solution-name') 方案名称:
        .form-field
          input#solution-name(type='text')
      .form-group
        .form-label
          label(for='template-select') 模版选择:
        .form-field
          +select('high')#template-select
      .form-group
        .form-field.form-offset
          dl
            dt 说明:
            dd qweqweqweqweqweqweqweqweqwe
      .form-group
        .form-field.form-submit
          button.btn-green(type='submit') 保存
          button.btn-gray.btn-show-panel(data-panel='video-transcoding-solution') 取消