include ../mixins

.panel#clip-management
  .panel-header
    form.clearfix
      .right-inner-addon
        input(type='search' placeholder='视频名称/标签')
        i.fa.fa-search
  .panel-content
    .clip-list
      dl.clip-list-header
        dt 视频名称:
        dd 阿凡服装设计
      .clip-list-content
        .clip-item
          .clip-duration 12:12:12
          +clip-detail(
            '阿凡服装设计',
            [ 'TAG1', 'TAG2', 'TAG3' ],
            '123456QWERTY'
          )
        .clip-item
          .clip-duration 12:12:12
          +clip-detail(
            '阿凡服装设计',
            [ 'TAG1', 'TAG2', 'TAG3' ],
            '123456QWERTY'
          )
        .clip-item
          .clip-duration 12:12:12
          +clip-detail(
            '阿凡服装设计',
            [ 'TAG1', 'TAG2', 'TAG3' ],
            '123456QWERTY'
          )
        .clip-item
          .clip-duration 12:12:12
          +clip-detail(
            '阿凡服装设计',
            [ 'TAG1', 'TAG2', 'TAG3' ],
            '123456QWERTY'
          )
        .clip-item
          .clip-duration 12:12:12
          +clip-detail(
            '阿凡服装设计',
            [ 'TAG1', 'TAG2', 'TAG3' ],
            '123456QWERTY'
          )
        .clip-item
          .clip-duration 12:12:12
          +clip-detail(
            '阿凡服装设计',
            [ 'TAG1', 'TAG2', 'TAG3' ],
            '123456QWERTY'
          )
        .clip-item
          .clip-duration 12:12:12
          +clip-detail(
            '阿凡服装设计',
            [ 'TAG1', 'TAG2', 'TAG3' ],
            '123456QWERTY'
          )
        .clip-item
          .clip-duration 12:12:12
          +clip-detail(
            '阿凡服装设计',
            [ 'TAG1', 'TAG2', 'TAG3' ],
            '123456QWERTY'
          )
        .clip-item
          .clip-duration 12:12:12
          +clip-detail(
            '阿凡服装设计',
            [ 'TAG1', 'TAG2', 'TAG3' ],
            '123456QWERTY'
          )
        .clip-item
          .clip-duration 12:12:12
          +clip-detail(
            '阿凡服装设计',
            [ 'TAG1', 'TAG2', 'TAG3' ],
            '123456QWERTY'
          )
        .clip-item
          .clip-duration 12:12:12
          +clip-detail(
            '阿凡服装设计',
            [ 'TAG1', 'TAG2', 'TAG3' ],
            '123456QWERTY'
          )
        .clip-item
          .clip-duration 12:12:12
          +clip-detail(
            '阿凡服装设计',
            [ 'TAG1', 'TAG2', 'TAG3' ],
            '123456QWERTY'
          )
        .clip-item
          .clip-duration 12:12:12
          +clip-detail(
            '阿凡服装设计',
            [ 'TAG1', 'TAG2', 'TAG3' ],
            '123456QWERTY'
          )
        .clip-item
          .clip-duration 12:12:12
          +clip-detail(
            '阿凡服装设计',
            [ 'TAG1', 'TAG2', 'TAG3' ],
            '123456QWERTY'
          )
        .clip-item
          .clip-duration 12:12:12
          +clip-detail(
            '阿凡服装设计',
            [ 'TAG1', 'TAG2', 'TAG3' ],
            '123456QWERTY'
          )
    .clip-list
      dl.clip-list-header
        dt 视频名称:
        dd 阿凡服装设计
      .clip-list-content
        .clip-item
          .clip-duration 12:12:12
        .clip-item
          .clip-duration 12:12:12
        .clip-item
          .clip-duration 12:12:12
        .clip-item
          .clip-duration 12:12:12
        .clip-item
          .clip-duration 12:12:12
        .clip-item
          .clip-duration 12:12:12
        .clip-item
          .clip-duration 12:12:12
        .clip-item
          .clip-duration 12:12:12
        .clip-item
          .clip-duration 12:12:12
        .clip-item
          .clip-duration 12:12:12
        .clip-item
          .clip-duration 12:12:12
        .clip-item
          .clip-duration 12:12:12
        .clip-item
          .clip-duration 12:12:12
        .clip-item
          .clip-duration 12:12:12
        .clip-item
          .clip-duration 12:12:12
          