.tab-panel#video-list
  .panel-header.clearfix
    form
      .right-inner-addon
        input(type='search' placeholder='视频名称')
        i.fa.fa-search
      div
        input(type='text' placeholder='2015/05/01')
      | 至
      div
        input(type='text' placeholder='2015/05/01')
      div
        +select('全部状态')
    button.btn-green 上传文件
  .panel-content
    .video-list-item
      input(type='checkbox')
      .video-abstract
        img(src='assets/img/header-bg.jpg')
        +select('方案')
        dl
          dt 状态:
          dd 完成
      .video-details
        .dl-table-display
          dl
            dt 名称:
            dd sjasdsd.mov
          dl
            dt 视频大小:
            dd 100M
          dl
            dt 创建时间:
            dd 2015/03/23 10:32
          dl
            dt 时长:
            dd 12:12:12
          dl
            dt 播放次数:
            dd 123次
          dl
            dt 拥有者:
            dd xiao2
          dl
            dt ID:
            dd 12341234QWER
        dl.dl-tag-display
          dt TAG:
          dd
            span TAG1
            span TAG2
            span TAG3
            span TAG4
            span TAG5
        button.btn-blue 编辑
        button.btn-blue 代码
        button.btn-blue 剪辑
        button.btn-gray 删除
    .video-list-item
      input(type='checkbox')
      .video-abstract
        img(src='assets/img/header-bg.jpg')
        +select('方案')
        dl
          dt 状态:
          dd 完成
      .video-details
        .dl-table-display
          dl
            dt 名称:
            dd sjasdsd.mov
          dl
            dt 视频大小:
            dd 100M
          dl
            dt 创建时间:
            dd 2015/03/23 10:32
          dl
            dt 时长:
            dd 12:12:12
          dl
            dt 播放次数:
            dd 123次
          dl
            dt 拥有者:
            dd xiao2
          dl
            dt ID:
            dd 12341234QWER
        dl.dl-tag-display
          dt TAG:
          dd
            span TAG1
            span TAG2
            span TAG3
            span TAG4
            span TAG5
        button.btn-blue 编辑
        button.btn-blue 代码
        button.btn-blue 剪辑
        button.btn-gray 删除
                