include ../mixins

.panel#video-source-management
  .panel-header.clearfix
    a.l-right(href='?panel=video-list') &lt;&lt; 返回视频列表
  .panel-content
    .video-source-item
      .row
        | 原始视频管理
      .row
        .cols.large-3
          img(src='assets/img/header-bg.jpg')
        .cols.large-9
          .row
            .cols.large-12
              dl
                dt 名称:
                dd sjasdsd.mov
          .row
            .cols.large-4
              dl
                dt 状态:
                dd 完成
            .cols.large-8
              dl
                dt TAG:
                dd TAG1
          .row
            .cols.large-4
              dl
                dt 视频大小:
                dd 100M
            .cols.large-8
              dl
                dt 播放次数:
                dd 123次
          .row
            .cols.large-4
              dl
                dt 拥有者:
                dd xiao2
            .cols.large-8
              dl
                dt ID:
                dd 12341234QWER
          .row
            .cols.large-12.btn-group-inline
              a.link-button-info(href='#') 编辑
              a.link-button-info(href='#') 代码
              a.link-button-info(href='#') 剪辑
              a.link-button-delete(href='#')  删除
    .clip-list
      .clip-list-header 剪辑历史记录
      .clip-list-content
        .clip-item
          .clip-duration 12:12:12
          +clip-detail(
            '阿凡服装设计',
            [ 'TAG1', 'TAG2', 'TAG3' ],
            '123456QWERTY'
          )
        .clip-item
          .clip-duration 12:12:12
          +clip-detail(
            '阿凡服装设计',
            [ 'TAG1', 'TAG2', 'TAG3' ],
            '123456QWERTY'
          )
        .clip-item
          .clip-duration 12:12:12
          +clip-detail(
            '阿凡服装设计',
            [ 'TAG1', 'TAG2', 'TAG3' ],
            '123456QWERTY'
          )
        .clip-item
          .clip-duration 12:12:12
          +clip-detail(
            '阿凡服装设计',
            [ 'TAG1', 'TAG2', 'TAG3' ],
            '123456QWERTY'
          )
        .clip-item
          .clip-duration 12:12:12
          +clip-detail(
            '阿凡服装设计',
            [ 'TAG1', 'TAG2', 'TAG3' ],
            '123456QWERTY'
          )
        .clip-item
          .clip-duration 12:12:12
          +clip-detail(
            '阿凡服装设计',
            [ 'TAG1', 'TAG2', 'TAG3' ],
            '123456QWERTY'
          )
        .clip-item
          .clip-duration 12:12:12
          +clip-detail(
            '阿凡服装设计',
            [ 'TAG1', 'TAG2', 'TAG3' ],
            '123456QWERTY'
          )
        .clip-item
          .clip-duration 12:12:12
          +clip-detail(
            '阿凡服装设计',
            [ 'TAG1', 'TAG2', 'TAG3' ],
            '123456QWERTY'
          )
        .clip-item
          .clip-duration 12:12:12
          +clip-detail(
            '阿凡服装设计',
            [ 'TAG1', 'TAG2', 'TAG3' ],
            '123456QWERTY'
          )
        .clip-item
          .clip-duration 12:12:12
          +clip-detail(
            '阿凡服装设计',
            [ 'TAG1', 'TAG2', 'TAG3' ],
            '123456QWERTY'
          )
        .clip-item
          .clip-duration 12:12:12
          +clip-detail(
            '阿凡服装设计',
            [ 'TAG1', 'TAG2', 'TAG3' ],
            '123456QWERTY'
          )
        .clip-item
          .clip-duration 12:12:12
          +clip-detail(
            '阿凡服装设计',
            [ 'TAG1', 'TAG2', 'TAG3' ],
            '123456QWERTY'
          )
        .clip-item
          .clip-duration 12:12:12
          +clip-detail(
            '阿凡服装设计',
            [ 'TAG1', 'TAG2', 'TAG3' ],
            '123456QWERTY'
          )
        .clip-item
          .clip-duration 12:12:12
          +clip-detail(
            '阿凡服装设计',
            [ 'TAG1', 'TAG2', 'TAG3' ],
            '123456QWERTY'
          )
        .clip-item
          .clip-duration 12:12:12
          +clip-detail(
            '阿凡服装设计',
            [ 'TAG1', 'TAG2', 'TAG3' ],
            '123456QWERTY'
          )
