.tab-panel#video-list
  .panel-header
    form
      .right-inner-addon
        input(type='search' placeholder='视频名称')
        i.fa.fa-search
      div
        input(type='text' placeholder='2015/05/01')
      | 至
      div
        input(type='text' placeholder='2015/05/01')
      div
        +select('全部状态')
    button.btn-green 上传文件
  .panel-content
    .video-list-item
      label
        input(type='checkbox')
        .video-abstract
          img(src='assets/img/header-bg.jpg')
        .video-details
          .dl-table-display
            dl
              dt 名称:
              dd sjasdsd.mov
            dl
              dt 状态:
              dd 完成
            dl
              dt TAG:
              dd TAG1
            dl
              dt 视频大小:
              dd 100M
            dl
              dt 播放次数:
              dd 123次
            dl
              dt 拥有者:
              dd xiao2
            dl
              dt ID:
              dd 12341234QWER
            dl
              dt 播放器方案:
              dd 12345
            dl
              dt 广告方案:
              dd 12345123
            dl
              dt 视频文件:
              dd iroha
          button.btn-blue 编辑
          button.btn-blue 代码
          button.btn-blue 剪辑
          button.btn-blue 原视频管理
          button.btn-gray 删除