<%= render 'user_videos/nav' %>

<div id="add-transcoding-solution" class="tab-panel" style="display: block;">
	<div class="panel-header">
		<%= link_to '&lt;&lt; 返回方案列表'.html_safe, transcoding_strategies_path  %>
	</div>
	<%= render 'form' %>
</div>