      <footer>
        <div class="container clearfix">
          <div class="footer-links clearfix l-left">
            <ul class="list-links l-left">
              <li><a href="index.html">未谷技术</a></li>
              <li><a href="video.html">视频管理</a></li>
              <li><a href="player.html">点播播放器</a></li>
              <li><a href="advertisement.html">广告管理</a></li>
              <li><a href="system.html">系统管理</a></li>
              <li><a href="#.html">用户协议</a></li>
            </ul>
            <ul class="list-links l-left">
              <li><a href="#.html">帮助中心</a></li>
              <li><a href="#.html">平台</a></li>
            </ul>
          </div>
          <div class="footer-info l-right">
            <div class="info-bar"><a href="#">关于我们</a></div>
            <div class="info-bar">
              copyright &copy; 2015上海未谷信息技术有限公司<br>
              沪ICP备15026705号
            </div>
          </div>
        </div>
      </footer>
