      <footer>
        <div class="container clearfix">
          <div class="footer-links clearfix l-left">
            <ul class="list-links l-left">
              <li><a href="/">未谷技术</a></li>
              <li><a href="<%= video_product_groups_path %>">视频管理</a></li>
              <li><a href="<%= players_path %>">点播播放器</a></li>
              <li><a href="<%= advertise_strategies_path %>">广告管理</a></li>
              <li><a href="<%= admin_path %>">系统管理</a></li>
              <li><a href="#">用户协议</a></li>
            </ul>
            <ul class="list-links l-left">
              <li><a href="#">帮助中心</a></li>
              <li><a href="#">平台</a></li>
            </ul>
          </div>
          <div class="footer-info l-right">
            <div class="info-bar"><a href="#">关于我们</a></div>
            <div class="info-bar">
              copyright &copy; 2015上海未谷信息技术有限公司<br>
              沪ICP备15026705号
            </div>
          </div>
        </div>
      </footer>
