      <nav class="navbar">
  <form class="navbar-form navbar-right" role="search">
          <div class="form-group right-inner-addon">
            <input type="search" class="form-control" placeholder="视频搜索">
      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </div>
  </form>
  <ul class="nav nav-pills" role="tablist">
    <li class="active" role="presentation">
      <a href="#" role="tab">
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
        首页
      </a>
    </li>
    <li role="presentation">
      <a href="video.html" role="tab">
        <span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>
        视频管理
      </a>
    </li>
    <li role="presentation">
      <a href="advertisement.html" role="tab">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        广告管理
      </a>
    </li>
    <li role="presentation">
      <a href="player.html" role="tab">
        <span class="glyphicon glyphicon-cd" aria-hidden="true"></span>
        点播播放器
      </a>
    </li>
    <li role="presentation">
      <a href="system.html" role="tab">
        <span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>
        系统管理
      </a>
    </li>
  </ul>
      </nav>
