<%=  render 'advertise/nav' %>
<div id="add-advertisement-resource" class="panel" style="display: block;">
            <div class="panel-header clearfix">
		<%= link_to '&lt;&lt; 返回广告资源列表'.html_safe, advertise_resources_path, :class => 'l-right'  %>
	</div>

	<%= render 'form' %>
</div>