<%=  render 'advertise/nav' %>
<div id="add-advertisement-resource" class="tab-panel" style="display: block;">
	<div class="panel-header">
		<%= link_to '&lt;&lt; 返回广告资源列表'.html_safe, advertise_resources_path  %>
	</div>

	<%= render 'form' %>
</div>